
.div-1{
  margin-bottom: 40px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.form {
  display: block;
  margin-bottom: 20px;

}

label {
  margin-right: 15px;
}

input{
  padding: 5px;
}